<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<table>
			<caption>Search Result</caption>
			<thead>
				<tr>
					<th scope="col">CODE</th>
					<th scope="col">NAME</th>
					<th scope="col">OPEN</th>
					<th scope="col">HIGH</th>
					<th scope="col">LOW</th>
					<th scope="col">CLOSE</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td data-label="CODE">{{data.code}}</td>
						<td data-label="NAME">{{data.name}}</td>
						<td data-label="OPEN">{{data.open}}</td>
						<td data-label="HIGH">{{data.high}}</td>
						<td data-label="LOW">{{data.low}}</td>
						<td data-label="CLOSE">{{data.close}}</td>
					</tr>
				
			</tbody>
		</table>
		</div>

</body>
</html>